@charset "UTF-8";

body
{
    background-color: rgb(78, 80, 78);
    font: normal 1em Arial;
}

h1
{
    color: white;
    text-align: center;
    text-shadow: 5px 6px 6px black;

    font-size: 3em;
}

section
{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 650px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.171);
}

div
{
    font-size: 1.5em;
}

select
{
    width: 100px;
}

footer
{
    color: white;
    text-align: center;
    text-shadow: 5px 6px 6px black;
}